/* import fonts*/

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: bold;
}

/* var, defaults & resets*/

:root {
  --tomato: hsl(4, 100%, 67%);
  --tomato-light: rgb(255, 98, 87, .5);
  --dark-slate-grey: hsl(234, 29%, 20%);
  --charcoal-grey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);

  --main-font: 'Roboto', sans-serif;

  --normal-font-size: 1rem;
  --header-font-size: 2.5rem;
  --small-font-size: .75rem;
}

*, *::after, *::before {
  box-sizing: border-box;
}

body  {
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
  color: var(--charcoal-grey);
  font-size: var(--normal-font-size);
}

button, input {
  font-family: inherit;
}

button {
  cursor: pointer;
  opacity: .85;
}

button:hover,
button:active,
button:focus {
  opacity: 1;
}

ul, h1, p {
  margin: 0;
}